<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout1}"
>
  <!-- CSRF 토큰 -->
  <head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  </head>

  <!-- 사용자 JS 조각 -->
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      // DOM요소 준비되었을 때 실행
      $(document).ready(function () {
        calculateTotalPrice();

        // 수량 버튼이 클릭될 때마다 함수 실행하기 이벤트 발생
        $('#count').change(function () {
          calculateTotalPrice();
        });
      });

      // 수량 * 가격 구하기
      function calculateTotalPrice() {
        const count = $('#count').val(); // id가 count인 input태그의 값 가져오기
        const price = $('#price').val();
        const totalPrice = count * price;

        $('#totalPrice').html(totalPrice + ' 원');
      }

      // 주문 api 보내기
      function order() {
        // POST 요청시 csrf 보안 토큰 함께 전송
        const token = document
          .querySelector("meta[name='_csrf']")
          .getAttribute('content');

        const csrfHeader = document
          .querySelector("meta[name='_csrf_header']")
          .getAttribute('content');

        const url = '/order';
        const data = {
          itemId: $('#itemId').val(),
          count: $('#count').val(),
        };
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            [csrfHeader]: token,
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            console.log(response);
            if (response.ok) {
              alert('주문이 완료되었습니다.');
              location.href = '/';
            } else if (response.status === 401) {
              alert('로그인 후 주문 이용해주세요.');
              location.href = '/members/login';
            } else {
              response.text().then((message) => alert(message));
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }

      // 장바구니 담기 api 요청
      function addCart() {
        // POST 요청시 csrf 보안 토큰 함께 전송
        const token = document
          .querySelector("meta[name='_csrf']")
          .getAttribute('content');

        const csrfHeader = document
          .querySelector("meta[name='_csrf_header']")
          .getAttribute('content');

        const url = '/cart';
        const data = {
          itemId: $('#itemId').val(),
          count: $('#count').val(),
        };
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            [csrfHeader]: token,
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            console.log(response);
            if (response.ok) {
              alert('장바구니에 상품을 담았습니다.');
            } else if (response.status === 401) {
              alert('로그인 후 주문 이용해주세요.');
              location.href = '/members/login';
            } else {
              response.text().then((message) => alert(message));
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    </script>
  </th:block>

  <!-- 사용자 CSS 추가 -->
  <th:block layout:fragment="css">
    <style>
      .mgb-15 {
        margin-bottom: 15px;
      }
      .mgt-30 {
        margin-top: 30px;
      }
      .mgt-50 {
        margin-top: 50px;
      }
      .repImgDiv {
        margin-right: 15px;
        height: auto;
        width: 50%;
      }
      .repImg {
        width: 100%;
        height: 400px;
      }
      .wd50 {
        height: auto;
        width: 50%;
      }
    </style>
  </th:block>

  <!-- 상페 페이지 내용 -->
  <div layout:fragment="content" style="margin-left: 25%; margin-right: 25%">
    <!-- 상품 아이디 (숨김) -->
    <input type="hidden" id="itemId" th:value="${item.id}" />

    <!-- 상품 및 주문 정보 -->
    <div class="d-flex">
      <!-- 좌측 : 대표이미지 -->
      <div class="repImgDiv">
        <img
          th:src="${item.itemImgDtoList[0].imgUrl}"
          class="rounded repImg"
          th:alt="${item.itemNm}"
        />
      </div>
      <!-- 우측 -->
      <div class="wd50">
        <!-- 상품 판매 상태 itemSellStatus -->
        <span
          th:if="${item.itemSellStatus.name() == 'SELL'}"
          class="badge badge-primary mgb-15"
        >
          판매중
        </span>
        <span
          th:unless="${item.itemSellStatus.name() == 'SELL'}"
          class="badge btn-danger mgb-15"
        >
          품절
        </span>

        <!-- 상품명 -->
        <div class="h4" th:text="${item.itemNm}"></div>
        <hr class="my-4" />

        <!-- 가격 및 수량 정보 -->
        <div class="text-right">
          <!-- 가격 -->
          <div class="h4 text-danger text-left">
            <input
              type="hidden"
              th:value="${item.price}"
              id="price"
              name="price"
            />
            <span th:text="${item.price}"></span>원
          </div>

          <!-- 수량 정보 -->
          <div class="input-group w-50">
            <div class="input-group-prepend">
              <span class="input-group-text">수량</span>
            </div>
            <input
              type="number"
              name="count"
              id="count"
              class="form-control"
              value="1"
              min="1"
            />
          </div>
        </div>
        <hr class="my-4" />

        <!-- 결제 금액 -->
        <div class="text-right mgt-50">
          <h5>결제 금액</h5>
          <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
        </div>

        <!-- 주문하기 : 장바구니 담기, 주문하기 -->
        <div th:if="${item.itemSellStatus.name() == 'SELL'}" class="text-right">
          <button
            type="button"
            class="btn btn-light border border-primary btn-lg"
            onclick="addCart()"
          >
            장바구니 담기
          </button>
          <button
            type="button"
            class="btn btn-primary btn-lg"
            onclick="order()"
          >
            주문하기
          </button>
        </div>
        <!-- 품절인 경우 버튼 표시하지 않음 -->
        <div
          th:unless="${item.itemSellStatus.name() == 'SELL'}"
          class="text-right"
        >
          <button type="button" class="btn btn-danger btn-lg">품절</button>
        </div>
      </div>
    </div>

    <!-- 상품 상세 설명 : 점보트론 -->
    <div class="jumbotron jumbotron-fluid mgt-30">
      <div class="container">
        <h4 class="display-5">상품 상세 설명</h4>
        <hr class="my-4" />
        <p class="lead" th:text="${item.itemDetail}"></p>
      </div>
    </div>

    <!-- 상품 이미지 5개를 차례대로 반복 -->
    <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
      <img
        th:if="${not #strings.isEmpty(itemImg.imgUrl)}"
        th:src="${itemImg.imgUrl}"
        class="rounded mgb-15"
        width="800"
      />
    </div>
  </div>
</html>
